body {
  border-radius: 40px;
}

h4 {
  font-size: 30px;
}
h5 {
  font-size: 30px;
  padding: 10px 0px 0px;
  margin: auto;
  font-size: 30px;
}
h6 {
  padding: 10px 0px 0px;
  margin: auto;
  font-size: 25px;
}
medium {
  margin: auto;
  padding: 7%;
  text-align: 10px;
}
.card-body {
  padding: 35px;
}
.float-left {
  color: rgb(33, 33, 33);
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
}

.card-info {
  font-size: 13px;
  margin-left: 265px;
  margin-top: -50px;
}
